<h1><%= @course.title %></h1>
<h2><%= @section.title %></h2>

<% if @course.sections.any? %>
  <h4>Here are the lessons for this section:</h4>

  <ul>
    <% @section.lessons.each do |lesson| %>
      <li>
        (<%= lesson.day %>) <%= link_to lesson.title, lesson_path %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no sections yet!</p>
<% end %>
