<h1>Courses</h1>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.title, course_path(course) %> /
      <%= link_to "Edit", edit_course_path(course) %> /
      <%= link_to "Delete", course_path(course),
                             :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add Course", new_course_path(@course) %></p>
