<h1>Courses</h1>
<ul class="list-unstyled">
  <% @courses.each do |course| %>
    <li>
      <span class="redTitle">
        <%= link_to course.title, course_path(course) %>
      </span>
       / <%= link_to "Edit", edit_course_path(course) %> /
      <%= link_to "Delete", course_path(course),
                             :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %>
    </li>
  <% end %>
</ul>

<p>© 2017 <span class="redTitle"><%= link_to "Rikidavus", new_course_path(@course) %></span>, Inc.</p>
