@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fcfcfc;
  font-family: Helvetica;
}

body {
  h1 {
    font-weight: lighter;
    font-size: 32px;
    color: #444444;
    margin-bottom: 10px;
  }
  a {
    font-weight: lighter;
  }
  p {
    text-align: center;
    color: #444444;
    font-size: 18px;
    font-weight: lighter;
  }
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

.redTitle a {
  color: #D81E38;
}
